
/*
/////////////////////////////// Device Accessibility //////////////////////////////////
*/

/* Changes according to browser width xs */ 
@media screen and (max-width: 575px) {
    .name {
        width: 100%;
    }

    .navbar {
        width: 100%;
        justify-content: center;
    }

    .container-fluid {
        position: relative;
        top: 69px;
    }
    
    .aboutMeFigure {
        box-sizing: content-box;
        width: 100%;
    }
}

/* Changes according to browser width sm */ 
@media screen and (max-width: 768px) {

}

/* Changes according to browser width mdpx */ 
@media screen and (max-width: 992px) {

}