
/*
/////////////////////////////// Device Accessibility //////////////////////////////////
*/

/* Changes according to browser width xs */ 
@media screen and (max-width: 575px) {
    .fluid-xs {
        width: 100%;
    }

    .container-fluid {
        position: relative;
        top: 69px;
    }
}

/* Changes according to browser width sm */ 
@media screen and (max-width: 768px) {

}

/* Changes according to browser width mdpx */ 
@media screen and (max-width: 992px) {

}